@page "/incomeexpense"
@inject IIncomeExpensesServices IncomeExpensesServices
@inject NavigationManager Navigation

<h3>CreateIncomeExpenses</h3>

<RadzenTemplateForm Data="incomeExpensesDto" Submit="@((IncomeExpensesDto args) => { SubmitAsync(args); })">
	<div class="row">
            <div class="col-md-6">
                <RadzenFieldset Text="Editing Income Expenses Type">
					<div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Name" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox style="width: 100%;" @bind-Value="incomeExpensesDto.Name" />
                        </div>
                    </div>
					<div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="IsIncome" />
                        </div>
                        <div class="col-md-8">
                            <RadzenCheckBox style="width: 5%;" @bind-Value="incomeExpensesDto.IsIncome" />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                            <RadzenButton ButtonType="ButtonType.Submit" Icon="add_circle_outline" Text="Create" />
                            <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" Text="Cancel"  style="display: inline-block; margin-left: 10px;" Click="@CancelClick"/>
                        </div>
                    </div>
	            </RadzenFieldset>
           </div>
     </div>
</RadzenTemplateForm>

@code {
	bool ShouldBeChecked = true;

	TwelfthTask.Models.IncomeExpensesDto incomeExpensesDto = new();

    private void CancelClick()
	{
		Navigation.NavigateTo("/incomeexpenses");
	}

	private async Task SubmitAsync(IncomeExpensesDto args)
	{
		await IncomeExpensesServices.CreateIncomeExpensesAsync(incomeExpensesDto);
		Navigation.NavigateTo("incomeexpenses");
	}
}
